footer.footer
		.footer_block 
					.footer_logo 
						img(src="images/footerlogo.png", alt="")
					.footer_text Powerful Freelance Marketplace System with ability to change the Users (Freelancers & Clients)

					.footer_social 
						a.inst(href="#")
			
						a.twiter(href="#")
					
						a.facebook(href="#") 
		.footer_client 
			.client_title For Clients
			.client_list 
				a.client_el(href="#") Find Freelancers
				a.client_el(href="#") Post Project
				a.client_el(href="#") Refund Policy
				a.client_el(href="#") Privacy Policy
		.footer_freelancer 
			.freelancer_title For Freelancers
			.freelancer_list 
				a.freelancer_el(href="#") Find Work 
				a.freelancer_el(href="#") Create Account 
		.footer_call 
			.call_title Call Us
			.call_list
				a.map(href="#" ) Kenya 
				a.phone(href="#" tel:+25470000000) +25470000000 
				a.mail(href="#" mailto:bluelance@gmail.com) bluelance@gmail.com
.footer_end 2022 Spacelance. All right reserved
