header

.header
    .main_top
        .header_menu
            .header_logo 
                img(src="images/logo.png", alt="")
            ul.header_list
                li.header_item Home 
                li.header_item Find work
                li.header_item Find Freelancers
                li.header_item Log In
                li.header_item Sign Up
            a(href="#post").header_postbtn Post a project.
            .mob_btn #[span ]
        .mob_menu 
            .mob_list 
                a.mob_item Home 
                a.mob_item Find work
                a.mob_item Find Freelancers
                a.mob_item Log In
                a.mob_item Sign Up